### Test out some basic functions in Numpy

In [6]:
#load the library and check its version
import numpy as np
np.__version__

'1.17.4'

In [9]:
#create a list with numbers from 0 to 9
L=list(range(10))
L

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
#converting integers to string
S=[str(s) for s in L]
S

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [11]:
#get the types
[type(l) for l in L]

[int, int, int, int, int, int, int, int, int, int]

In [14]:
[type(s) for s in S]

[str, str, str, str, str, str, str, str, str, str]